.content {
  padding: 0;
  height: 100vh;
  background-image: url(../../../../imgs/cafeteria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: content 30s forwards ease-out;
  animation-iteration-count: infinite;
  .container {
    padding: 1em;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    .info {
      color: white;

      .company-name {
        font-weight: bolder;
      }
    }
  }
}

@keyframes content {
  0% {
    background-image: url(../../../../imgs/cafeteria.jpg);
  }
  50% {
    background-image: url(../../../../imgs/chef.jpg);
  }
  100% {
    background-image: url(../../../../imgs/fog.jpg);
  }
}
