.content {
  padding: 0;
  height: 100vh;
  background-image: url(../../../../imgs/wallpaper1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: content 30s forwards ease-out;
  animation-iteration-count: infinite;
  .container {
    padding: 1em;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    .info {
      color: $neutral;
      font-weight: bold;
      .company-name {
        font-weight: bolder;
        color: $primary;
      }

      .sub-title {
        display: block;
        padding: 0.7em 0;

        font-size: 20px;
      }
    }
  }
}

@keyframes content {
  0% {
    background-image: url(../../../../imgs/wall1.jpg);
  }
  50% {
    background-image: url(../../../../imgs/wall2.jpg);
  }
  100% {
    background-image: url(../../../../imgs/wall3.jpg);
  }
}
