.team {
  background-image: url(../../../../imgs/team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  position: relative;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
    .span {
      color: $primary;
    }
  }
}

.staff-name {
  h5 {
    margin-bottom: 0;
  }
  .position {
    color: $primary;
    font-size: 10px;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .team {
    height: 50vh;
  }
}
