.welcome {
  .slide-container {
    width: 100%;
    height: max-content;

    .image-container {
      width: inherit;

      img {
        width: 100%;
        max-height: 300px;
      }
    }
  }
  .book-now {
    margin-top: 2em;
    .cards {
      .cards-img-container {
        width: inherit;
        position: relative;

        button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%);
          opacity: 0;
          transition: all 2s ease-out;
        }

        img {
          width: 100%;
          transition: all 2s ease-out;
        }
      }
      .cards-img-container:hover {
        img {
          opacity: 0.1;
        }
        button {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .welcome {
    .slide-container {
      width: 100%;
      height: max-content;
      padding: 1em;
      .image-container {
        width: inherit;

        img {
          width: 100%;
          max-height: 300px;
        }
      }
    }
  }
}
