%btn {
  padding: 0.5em;
}

%btn:hover {
  background: $primary;
  text-decoration: none;
  color: $secondary;
  a {
    color: $secondary;
  }
}

.nav-auth-btn {
  @extend %btn;
  background: $primary;
  border: 1px solid $secondary;
}
.content-btn {
  @extend %btn;
  border: 1px solid $primary;
  background: transparent;
  padding: 0.6em 1em;

  a {
    color: $primary;
    text-decoration: none;
  }
}

.book-now-btn {
  background: transparent;
  border: none;
  a {
    text-decoration: none;
  }
}
