%btn {
  padding: 0.2em;
}

%btn:hover {
  background: $primary;
  text-decoration: none;
}
.nav-reserve-btn {
  border: 1px solid $secondary;
  @extend %btn;
}
.nav-auth-btn {
  @extend %btn;
  background: $primary;
  border: 1px solid $secondary;
}
.content-btn {
  @extend %btn;
  border: 1px solid $primary;
  background: transparent;
  a {
    color: $secondary;
    text-decoration: none;
  }
}
