.order-container {
  margin: 12vh auto 3em;
  .cards {
    max-width: 200px;
    border: 1px solid darken($color: $secondary, $amount: 20%);
    box-shadow: 7px 3px $neutral;
    img {
      width: 100%;
    }
    .description {
      padding: 0.6em 0.6em;
      .love {
        color: $primary;
        float: right;
      }
      .heart {
        color: $neutral;
        float: right;
      }
      p {
        color: $primary;
      }
    }
  }
}
