.order-container {
  margin: 12vh auto 3em;
  .cards {
    max-width: 200px;
    border: 1px solid darken($color: $secondary, $amount: 20%);
    box-shadow: 7px 3px $neutral;
    img {
      width: 100%;
    }
    .description {
      padding: 0.6em 0.6em;
      .love {
        color: $primary;
        float: right;
      }
      .heart {
        color: $neutral;
        float: right;
      }
      p {
        color: $primary;
      }
    }
  }

  .filter-nav {
    background: $neutral;
    margin: 1em auto 2em;
    padding: 1em;

    input,
    select {
      width: max-content;
      height: 40px;
    }
  }
}

@media only screen and (max-width: 769px) {
  .order-container {
    .filter-nav {
      div {
        label {
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }
}
