<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fast food resturant</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="container">
                    <div class="harmburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                <a href="./index.html" class="logo">The logo</a>
                <ul class="nav">
                    <l1><a href="./index.html">Home</a></l1>
                    <l1><a href="./index.html">About us</a></l1>
                    <l1><a href="./signin.html">Sign In</a></l1>
                    <l1><a href="./signup.html">Sign Up</a></l1>
                </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <div class="container">
                    <div class="text">
                        <h1>Your favourite food delivered hot & Fresh</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quos id vero est aut, provident nulla quidem fuga officiis nisi magni repellendus voluptas sed nihil deleniti nesciunt eaque itaque! Excepturi.</p>
                        <button class="text-btn">Order Now</button>
                    </div>
                    <div class="delivery-image">
                        <img src="../img/young-asian-pizza-delivery-girl-holding-pizza-boxes-removebg-preview.png" alt="">
                    </div>

                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <h2 class="fusion-title">Food fusion</h2>
                <div class="food-fusion">
                   <div class="card">
                      <div class="card-block">
                        <img src="../img/food/pizza.jpg" alt="">
                      </div>
                   </div>
                   <div class="card">
                    <div class="card-block">
                      <img src="../img/food/pizza.jpg" alt="">
                    </div>
                 </div>
                 <div class="card">
                    <div class="card-block">
                      <img src="../img/food/pizza.jpg" alt="">
                    </div>
                 </div>
                
                </div>
                   
            
 

            </div>
            <div class="container">
                <h2>Main Cuisines</h2>
                <div class="cuisines">
                    <img src="../img/food/robin-stickel-tzl1UCXg5Es-unsplash.jpg" alt="" class="img-1">
                    <img src="../img/food/thomas-tucker-MNtag_eXMKw-unsplash.jpg" alt="" class="img-1">
                    <img src="../img/food/cake.jpg" alt="" class="img-1">
                    <img src="../img/food/thomas-tucker-MNtag_eXMKw-unsplash.jpg" alt="" class="img-1">
                    <img src="../img/food/davide-cantelli-jpkfc5_d-DI-unsplash.jpg" alt="" class="img-1">
                    <img src="../img/food/pizza.jpg" alt="" class="img-1">
                    <img src="../img/food/cake.jpg" alt="" class="img-1">
                    <img src="../img/food/thomas-tucker-MNtag_eXMKw-unsplash.jpg" alt="" class="img-1">
                    <img src="../img/food/robin-stickel-tzl1UCXg5Es-unsplash.jpg" alt="" class="img-1">
                    <img src="../img/food/cake.jpg" alt="" class="img-1">
                </div>
            </div>
        </main>

        <footer>
          <div class="container">
              <div class="info">
                
                  <h2>Join the Adventure to receive our best promo deal</h2>
                  <p>you can unsubcribe at anytime</p>
                  <div class="info-input">
                      <input type="text"  placeholder="Email adress"/>
                      
                      <button class="info-btn">Subcribe</button>
                  </div>
              </div>

            <div class="about link">
                <h3>About us</h3>
                <a href="#">facebook</a>
                <a href="#">instagram</a>
                <a href="#">twitter</a>
                <a href="#">linkedin</a>
                <a href="#">pinterest</a>
             </div>
             <div class="contact link">
                <h4>Contact Us</h4>
                <a href="#">facebook</a>
                <a href="#">instagram</a>
                <a href="#">twitter</a>
                <a href="#">linkedin</a>
                <a href="#">pinterest</a>
             </div>
            <div class="social link">
               <h4>Social media</h4>
               <a href="#">facebook</a>
               <a href="#">instagram</a>
               <a href="#">twitter</a>
               <a href="#">linkedin</a>
               <a href="#">pinterest</a>
            </div>
        </div>
        </footer>
        </div>
    <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
    <script src="../Component/App/index.js"></script>
</body>
</html>